@import "/src/styles/variables";
.Nav{
    width: 100vw;
    height: 70px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    a{
        color: #fff;
        font-size: 20px;
    }
}